
.env
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
*.apk
.settings
*.jar
*.war
*.ear
.classpath
.project
.settings/
.loadpath
*.swp
*~
